.skills-form {
    height: 100%;
}

.skills-form__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    max-height: 500px;
    height: 80%;
    @include tablets {
        max-height: none;
        display: block;
    }
}

.skills-form__list {
    @include roboto();
    margin: 29px 50px 37px 20px;
}

.skills-form__value {
    display: flex;
    width: 250px;
    margin-bottom: 10px;
}

.skills-form__item-box {
    @extend %flex_center;
    margin-right: 30px;
}

.skills-form__inp {
    padding: 5px;
    width: 60px;
    margin-right: 10px;
    margin-left: auto;
    text-align: center;
}

.skills-form__percent {
    @extend %flex_center;
}


