.blog-form__input_area {
  height: 0;
  opacity: 0;
  margin-bottom: 0;
}

#toolbar-container {
  max-width: 80%;
}

.ck-content {
  max-width: 80%;
  background-color: $white;
  margin-bottom: 20px;
}

.ck-editor__editable {
  min-height: 300px;
  max-height: 600px;
  outline: none !important;
  border: solid 2px transparent !important;

  &:focus {
    border: solid 2px $yellow !important;
  }
}