.works-form__label {
    margin-bottom: 15px;
    display: block;
}
.works-form__input-img {
    display: none;
}
.works-form__img {
    vertical-align: middle;
    margin-right: 12px;
    cursor: pointer;
}
.works-form__span {
    color: $sky;
    cursor: pointer;
}
