include ../partials/_variable
include ../mixins/iconsvg
include ../mixins/social
include ../mixins/title

doctype html
html
    include ../partials/_head
    body.body
        .wrap
            include ../components/preloader
            block main

        block scripts
            include ../partials/_scripts