include ../partials/_variable
include ../mixins/iconsvg
include ../mixins/social
include ../mixins/header
include ../mixins/navigation
include ../mixins/circle
include ../mixins/title

doctype html
html(lang="ru")
  include ../partials/_head
  body.body
    .wrap
      include ../components/preloader
      block header
      main.main
        block main
    block scripts
      include ../partials/_scripts