.preloader#preloader
  img(src="/assets/img/background/desert_prel_bg.jpg" class="preloader__bg" alt="preload")
  .preloader__spinner
    span.preloader__spinner-percent#preloader__spinner-percent 0
    svg(class="preloader__spinner-inner" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 80 80" stroke="#ffffff" fill="#ffffff" stroke-width="2")
      circle(cx="40" cy="8" r="6"  class="preloader__spinner_1")
      circle(cx="40" cy="8" r="4.5" fill="transparent" class="preloader__spinner_2")
      circle(cx="40" cy="8" r="3" fill="transparent" class="preloader__spinner_3")