.topbar
  +social(social).socials
  .topbar__menu#topbar__menu
    .topbar__menu-bg_left
    .topbar__menu-bg_right
    +navigation(menu).navigation
    .menu__button#menu__button
      .menu__button-item