@font-face {
    font-family: 'roboto_bold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'), url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_light';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'), url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_medium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'), url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_bolditalic';
    src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'), url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_lightitalic';
    src: url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'), url('../fonts/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_mediumitalic';
    src: url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_italic';
    src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'), url('../fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansus-webissimo';
    src: url('../fonts/sansus-webissimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin roboto($style: regular) {
    font-family: 'roboto_regular', serif;

    @if $style == bold {
        font-family: 'roboto_bold', serif;
    }

    @if $style == light {
        font-family: 'roboto_light', serif;
    }

    @if $style == medium {
        font-family: 'roboto_medium', serif;
    }
    @if $style == bolditalic {
        font-family: 'roboto_bolditalic', serif;
    }
    @if $style == lightitalic {
        font-family: 'roboto_lightitalic', serif;
    }
    @if $style == mediumitalic {
        font-family: 'roboto_mediumitalic', serif;
    }
    @if $style == italic {
        font-family: 'roboto_italic', serif;
    }
}