.icon {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    font-size:1rem;
}

.icon-about_bg_left {
    width:(1000/400)*1em;
}
.icon-about_bg_right {
    width:(1000/400)*1em;
}
.icon-about_header {
    width:(498.161/175.44)*1em;
}
.icon-arrow_down {
    width:(25.18/16.164)*1em;
}
.icon-bg {
    width:(2000/354.69)*1em;
}
.icon-blog_header {
    width:(302.193/208.012)*1em;
}
.icon-check {
    width:(18.164/13.922)*1em;
}
.icon-envelope_n {
    width:(216/216)*1em;
}
.icon-facebook {
    width:(22/22)*1em;
}
.icon-github {
    width:(26/22)*1em;
}
.icon-in {
    width:(24/22.938)*1em;
}
.icon-link {
    width:(19.125/19.125)*1em;
}
.icon-login {
    width:(14.137/15.422)*1em;
}
.icon-map_n {
    width:(45/45)*1em;
}
.icon-password {
    width:(16.897/15.984)*1em;
}
.icon-phone_n {
    width:(45/45)*1em;
}
.icon-portf_arrow_down {
    width:(42.736/27.435)*1em;
}
.icon-portf_arrow_up {
    width:(42.736/27.435)*1em;
}
.icon-portfolio_header {
    width:(1175.495/313.961)*1em;
}
.icon-skype_n {
    width:(45/45)*1em;
}
.icon-three_balls {
    width:(40/16)*1em;
}
.icon-three_balls-rev {
    width:(40/16)*1em;
}
.icon-two_balls {
    width:(30/16)*1em;
}
.icon-two_balls-rev {
    width:(30/16)*1em;
}
.icon-works_header {
    width:(505.101/165.036)*1em;
}
