doctype html
html
  head(lang="ru")
    meta(charset="utf-8")
    title 404
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(name="robots" content="noindex")
  body
    h1 404 - Not Found