// adjustment variables

// colors
$white: #ffffff;
$black: #000000;
$yellow: #e7a731;
$orange: #cd8920;
$dark: #373e42;
$gray: #5d5a55;
$form:#d7bf9b;
$form_border:#dee3e7;


// layout
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/adjustment";
@import "_misc/svg";

// styles
@import 'common/**/*';
@import "pages/**/*";