.welcome-auth {
    @extend %full_absolute;
    background-color: transparentize($form, .4);
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    border-radius: 15px;
    z-index: 1;
    transition: all 0s linear 0s;
    transform-style: preserve-3d;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.title_auth {
    margin: 36px 0 40px;
    @include phones {
        font-size: 30px;
    }
}

.title_auth_text {
    color: $white;
}

.auth-label__text {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 20px 20px;
    height: 40px;
}

.auth-label__icon-wrapper {
    @extend %flex_center;
    width: 45px;
    background-color: #f0efe9;
    border-radius: 10px 0 0 10px;
}

.icon {
    &-login, &-password {
        fill: #c4cbcd;
        font-size: 18px;
    }
}

.auth-input__text {
    color: $gray;
    flex-grow: 1;
    padding: 0 15px;
    border-radius: 0 10px 10px 0;
    background: $white;
    &::placeholder {
        color: transparentize($dark, .3);
    }
    &:-moz-ui-invalid {
        box-shadow: none;
    }
    &:focus + .auth-label__icon-wrapper {
        background: $orange;
    }
}

.auth-label__checkbox-label {
    @extend %flex_center;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.icon-check {
    font-size: 9px;
    position: absolute;
    left: 33.5%;
    top: 30%;
    fill: $white;
    transform: scale(0);
    opacity: 0;
}

.auth-label__checkbox {
    opacity: 0;
    z-index: -2;
    &:checked ~ .icon-check {
        transform: scale(1);
        opacity: 1;
    }
}

.auth-label__checkbox-text {
    &:before {
        content: '';
        display: block;
        position: absolute;
        height: 20px;
        width: 20px;
        background: $orange;
        left: 32%;
        top: 1px;
        z-index: -10;
    }
}

.auth__quest {
    text-align: center;
    margin-bottom: 10px;
}

.auth-label__radio-wrap {
    display: flex;
}

.auth-label__radio-label {
    display: flex;
    cursor: pointer;
    &:first-child {
        margin-left: 37%;
        margin-right: 40px;
    }
    &:last-child {
        margin-right: auto;
    }
}

.auth-label__radio {
    opacity: 0;
    z-index: -2;
    &:checked {
        & ~ .auth-label__radio-text:after {
            transform: scale(1);
            opacity: 1;
        }
        & ~ .auth-label__radio-text {
            color: darken($orange, 10%);
        }
    }
}

.auth-label__radio-text {
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        height: 20px;
        width: 20px;
        background: $white;
        left: -30px;
        top: 1px;
        border-radius: 50%;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        height: 10px;
        width: 10px;
        background: $orange;
        left: -25px;
        top: 6px;
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
    }
}

.auth__bottom {
    margin-top: auto;
}

.auth__bottom-list {
    height: 45px;
    display: flex;
}

.auth__bottom-item {
    background: transparentize($yellow, .15);
    transition: 0.3s;
    width: 50%;
    &:hover {
        background: $orange;
    }
    &:first-child {
        border-right: transparentize($form_border, .5) solid 2px;
        border-bottom-left-radius: 15px;
    }
    &:last-child {
        border-bottom-right-radius: 15px;
    }
}

.auth__bottom-link {
    outline: none;
    border: none;
    background-color: transparent;
    line-height: 45px;
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: block;
    color: $white;
    text-decoration: none;
}

