.preloader#preloader
    img(src="/assets/img/background/night_prel_bg.jpg" class="preloader__bg")
    .preloader__spinner
        span.preloader__spinner-percent#preloader__spinner-percent 0
        svg(version="1.1" class="preloader__spinner-inner" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 80 80" stroke="#000000" stroke-width="3" )
            circle(class="preloader__spinner-bigCircle" id="preloader__spinner-bigCircle"  cx="40" cy="40" r="25" stroke-dasharray="157" stroke-dashoffset="157" transform="rotate(-90 40 40)" fill="none")
            circle(cx="40" cy="6" r="4.5" fill="#000000" class="preloader__spinner-smallCircle")