.footer {
    @include roboto(light);
    color: $white;
}

.footer-top {
    background-color: transparentize($dark, .15);
    display: flex;
    flex-wrap: wrap;
}

%horizontal-line {
    display: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: $white;
    opacity: 0.2;
}

%vertical-line {
    display: block;
    content: "";
    position: absolute;
    width: 2px;
    height: 87px;
    background: $white;
    opacity: 0.2;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @include desktop {
        display: none;
    }
}

.footer__section1 {
    position: relative;
    margin: 30px 0 20px 30px;
    width: 33%;
    padding-right: 40px;
    &:before {
        @extend %horizontal-line;
        top: 0;
        @include desktop {
            display: block;
        }
    }
    &:after {
        @extend %vertical-line;
    }
    @include desktop {
        margin: 20px 30px 0 30px;
        order: 3;
        padding-right: 0;
        padding-top: 10px;
        width: 100%;
        text-align: center;
    }
}

.footer__section2 {
    position: relative;
    flex-grow: 1;
    margin: 30px 0 20px 30px;
    padding-right: 40px;
    &:before {
        @extend %horizontal-line;
        bottom: 0;
        @include tablets {
            display: block;
        }
    }
    &:after {
        @extend %vertical-line;
    }
    @include desktop {
        padding-right: 0;
        margin: 30px 30px 20px 30px;
        text-align: center;
    }
    @include tablets {
        margin-bottom: 0;
        padding-bottom: 20px;
    }
}

.footer__section3 {
    margin: 30px;
    max-width: 33%;
    @include desktop {
        padding-right: 0;
        margin: 30px 30px 20px 30px;
        text-align: right;
    }
    @include tablets {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin: 20px 30px 0 30px;
    }
}

.navigation-bottom {
    margin-bottom: 30px;
}

.navigation-bottom__list {
    display: flex;
    @include tablets {
        justify-content: center;
    }
}

.navigation-bottom__item {
    position: relative;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
}

.navigation-bottom__link {
    text-decoration: none;
    color: $white;
    &:hover {
        color: $yellow;
    }
}

.socials_opacity {
    justify-content: flex-start;
    @include tablets {
        justify-content: center;
    }
}

.socials__item_opacity {
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

.address__item {
    margin-bottom: 2px;
}

.address__label {
    color: $white;
    text-decoration: none;
    &:hover {
        color: lighten($orange, 20);
    }
}