.title {
    text-align: center;
    font-size: 35px;
    font-family: 'sansus-webissimo', serif;
}
.title-under {
    color: $dark;
    font-weight: 400;
    position: relative;
    &:after {
        display: block;
        content: "";
        position: absolute;
        height: 3px;
        width: 89px;
        background: $dark;
        @include centered(x);
        bottom: 0;
    }
}