.title {
    text-align: center;
    font-size: 63px;
    font-family: 'sansus-webissimo', serif;
    color: $dark;
    margin: 0 10px;
    @include phones {
        font-size: 45px;
    }
}

.title-under {
    font-family: 'sansus-webissimo', serif;
    font-size: 35px;
    color: $gray;
    font-weight: 400;
    margin: 0 10px;
}

.title-box {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.icon-two_balls-rev,
.icon-three_balls-rev,
.icon-two_balls,
.icon-three_balls {
    fill: $gray;
    opacity: .2;
}

.icon-title_auth,
.icon-title__blog {
    fill: $white;
    opacity: .6;
}

.icon-nav__balls {
    fill: $white;
    opacity: 0;
}