.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
}

.feedback-wrap {
    height: 460px;
    width: 380px;
    margin-top: 80px;
    background: transparentize($form, .4);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 15px;
    @include tablets {
        height: 440px;
        width: 350px;
    }
}

.title-feedback {
    margin: 40px 20px 27px;
}

.title-feedback_text {
    font-size: 30px;
    @include tablets {
        font-size: 25px;
    }
}

.feedback__form {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.feedback__input-text {
    padding: 10px 20px;
    margin: 0 20px;
    opacity: 0.7;
    border-radius: 5px;
}

.feedback__textarea {
    resize: none;
    padding: 10px 20px;
    margin: 0 20px;
    opacity: 0.7;
    border-radius: 5px;
}

.feedback__form-list {
    transition: 0.3s;
    width: 100%;
    display: flex;
}

.feedback__button {
    outline: none;
    border: none;
    background-color: $yellow;
    line-height: 45px;
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: block;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background: $orange;
    }
    &:first-child {
        border-right: transparentize($form_border, .5) solid 2px;
        border-bottom-left-radius: 15px;
    }
    &:last-child {
        border-bottom-right-radius: 15px;
    }
}

.feedback__arrow-link {
    @extend %flex_center;
    transition: 0.5s;
    opacity: 0.8;
    margin: 70px 0;
    &:hover {
        transform: translateY(-7px);
        opacity: 1;
    }
    @include tablets {
        margin: 70px 0 50px;
    }
}

.icon-feedback__arrow {
    font-size: 18px;
    fill: $white;
    transform: rotate(180deg);
}