mixin header(title, text, mod)
  header.header#top
    .header__bg-wrapper
      .header__bg#header__bg
    include ../components/topline
    .header__middle
      if mod !== 'blog'
        +iconsvg('portfolio_header').js__title
      else
        +iconsvg('blog_header').js__title
      .author-card(class=`author-card_${mod}` id="author-card")
        img.author-card__photo(src='assets/img/ava.jpg' alt='')
        if mod === 'blog'
          +title('БЛОГ',1).title__blog
        else
          span.author-card__title(class=`author-card__title_${mod}`)= title
        p.author-card__text(class=`author-card__text_${mod}`)= text
    .header__bottom
      a.header__arrow-link.js-scrollto(href='#next')
        +iconsvg('arrow_down').header__arrow
      if mod === 'works'
        +title('МОИ РАБОТЫ', 1).header__bottom-title
        +iconsvg('works_header')
        +iconsvg('bg','',true).header__bottom-bg
      else
        +iconsvg('about_bg_left', mod, true)
        +iconsvg('about_bg_right', mod, true)
  #next