mixin social(items, modificator)
    ul(class!=attributes.class + (modificator ? ` ${attributes.class}_${modificator}` : ''))
        each info, name in items
            li(class!=`${attributes.class}__item` + (modificator ? ` ${attributes.class}__item_${modificator}` : ''))
                a(class!=`${attributes.class}__link` + (modificator ? ` ${attributes.class}__link_${modificator}` : '') href=info.href target='_blank')
                    +iconsvg(info.icon, modificator).socials