section.section.section2.js-section
    .section__tittle-admin Страница «Блог»
    form(class="blog-form" action="/login" method="POST")
        .form__tittle Добавить запись
        input(type='text' name= 'hash' placeholder= 'Идентификатор' required).form__input
        input(type='text' name= 'title' placeholder= 'Название' required).form__input
        input(type='date' name= 'date' placeholder= 'Дата' required).form__input
        textarea(name= 'text' placeholder= 'Содержание' rows= '6' required).form__input.blog-form__input_area
        input(type='submit' value='Добавить').form__btn