extends ../layouts/main

block main
    .message
        .message__text
        input(type='button' value='Закрыть').form__btn.js-message__btn
    #page-welcome
    .wrap-page
        .desert
        .welcom-topbar
            a(href='#').welcome__auth-button#welcome__auth-button Авторизоваться
        .welcom-card#welcom-card
            .welcom-card__wrap
                .author-card.author-card_welcom
                    img(src="/assets/img/ava.jpg" alt="").author-card__photo
                    .author-card__title.author-card__title_welcom Володько Вадим
                    .author-card__text.author-card__text_welcom Личный сайт веб разработчика
                .welcom-card_bottom
                    .welcom-card__social
                        +social(social, 'welcome').socials
                    nav.welcom-card__nav
                        ul.welcom-card__list
                            each href, item in welcomeMenu
                                li.welcom-card__item
                                    a.welcom-card__link(href=href)= item
            .welcome-auth
                form(class='auth-form' action="/login" method="POST")
                    +title('АВТОРИЗУЙТЕСЬ').title_auth
                    label.auth-label__text
                        input(type='text' name='login' required='required' placeholder='Логин').input_text.auth-input__text
                        .auth-label__icon-wrapper
                            +iconsvg('login')
                    label.auth-label__text
                        input(type='password' name='password' required='required' placeholder='Пароль').input_text.auth-input__text
                        .auth-label__icon-wrapper
                            +iconsvg('password')
                    label.auth-label__checkbox-label
                        input(type='checkbox' name='ishuman').auth-label__checkbox#noRobot
                        .auth-label__checkbox-text Я человек
                        +iconsvg('check')
                    .auth__quest Вы точно не робот?
                    .auth-label__radio-wrap
                        label.auth-label__radio-label
                            input(type='radio' name='isrobot' value='yes').auth-label__radio
                            .auth-label__radio-text Да
                        label.auth-label__radio-label
                            input(type='radio' name='isrobot' value='no').auth-label__radio
                            .auth-label__radio-text Не уверен
                    .auth__bottom
                        ul.auth__bottom-list
                            li.auth__bottom-item
                                a.auth__bottom-link(href='#')#auth-back На главную
                            li.auth__bottom-item
                                input.auth__bottom-link(type='submit' value='Войти')