extends ../layouts/main

block main
  .message
    .message__text
    input(type='button' value='Закрыть').form__btn.js-message__btn
  #page-welcome
  main.wrap-page
    .desert
    .welcome-topbar
      a(href='#').welcome__auth-button#welcome__auth-button Авторизоваться
    .welcome-card#welcome-card
      .welcome-card__wrap
        .author-card.author-card_welcome
          img(src="/assets/img/ava.jpg" alt="").author-card__photo
          .author-card__title.author-card__title_welcome Володько Вадим
          .author-card__text.author-card__text_welcome Личный сайт веб разработчика
        .welcome-card_bottom
          .welcome-card__social
            +social(social, 'welcome').socials
          nav.welcome-card__nav
            ul.welcome-card__list
              each href, item in welcomeMenu
                li.welcome-card__item
                  a.welcome-card__link(href=href)= item
      .welcome-auth
        form(class='auth-form' action="/login" method="POST")
          +title('АВТОРИЗУЙТЕСЬ').title_auth
          .auth-label__text
            input(type='text' id='login' name='login' required='required' placeholder='Логин').input_text.auth-input__text
            label(for='login').auth-label__icon-wrapper
              +iconsvg('login')
          .auth-label__text
            input(type='password' id='password' name='password' required='required' placeholder='Пароль').input_text.auth-input__text
            label(for='password').auth-label__icon-wrapper
              +iconsvg('password')
          label.auth-label__checkbox-label
            input(type='checkbox' name='ishuman').auth-label__checkbox#noRobot
            span.auth-label__checkbox-text Я человек
            +iconsvg('check')
          .auth__quest Вы точно не робот?
          .auth-label__radio-wrap
            label.auth-label__radio-label
              input(type='radio' name='isrobot' value='yes').auth-label__radio
              span.auth-label__radio-text Да
            label.auth-label__radio-label
              input(type='radio' name='isrobot' value='no').auth-label__radio
              span.auth-label__radio-text Не уверен
          .auth__bottom
            ul.auth__bottom-list
              li.auth__bottom-item
                a.auth__bottom-link(href='#')#auth-back На главную
              li.auth__bottom-item
                input.auth__bottom-link(type='submit' value='Войти')