extends ../layouts/page

block header
  +header('Володько Вадим', 'Личный сайт веб разработчика', 'works')

block main
  .message
    .message__text
    input(type='button' value='Закрыть').form__btn.js-message__btn
  #page-works
  include works/slider
  .wrap-bottom__works
    include works/feedback
    include ../components/footer