.wrap-bottom__about {
    position: relative;
    & .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.contacts {
    position: relative;
    height: 1114px;
    @extend %flex_center;
    padding-bottom: 250px;
    @include laptop {
        height: 977px;
        padding-bottom: 300px;
    }
    @include phones {
        align-items: flex-start;
    }
}

.contacts__map {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title_address {
    font-style: normal;
    margin-top: 20px;
    &:after {
        opacity: 0.5;
    }
}

.contacts__box {
    width: 530px;
    background-color: transparentize($white, .3);
    border-radius: 15px;
    @include laptop {
        width: 375px;
    }
}

.address__list_dark {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}

.address__item_about {
    margin-top: 30px;
    width: 50%;
    &:last-child {
        margin-bottom: 30px;
    }
    @include laptop {
        width: 100%;
    }
}

.address__label_dark {
    display: inline-block;
    color: $gray;
    font-style: normal;
    &:hover {
        color: $gray;
        text-decoration: underline;
    }
}

.icon-address__icon_n {
    vertical-align: middle;
    display: inline-block;
    font-size: 45px;
    fill: $orange;
    margin-right: 9px;
}