.feedback
    .feedback-wrap
        .title.title-under.title-feedback Связаться со мной
        form.feedback__form(action='works' method="POST")
            input(type='text' name='name' placeholder='Имя' required='').feedback__input-text.input_text
            input(type='email' name='email' placeholder='Email' required='').feedback__input-text.input_text
            textarea(name='text' placeholder='Ваше сообщение' required='' rows= 5).feedback__textarea.input_text
            .feedback__form-list
                input(type='submit' value='Отправить').feedback__button.feedback__button_submit
                input(type='reset' value='Очистить').feedback__button.feedback__button_reset
    a.feedback__arrow-link.js-scrollto(href='#top')
        +iconsvg('arrow_down').feedback__arrow