section.section.section2.js-section
    .section__tittle-admin Страница «Блог»
    form(class="blog-form" method="POST")
        .form__tittle Добавить запись
        input(type='text' name= 'title' placeholder= 'Название' required).form__input
        input(type='date' name= 'date' placeholder= 'Дата').form__input
        #toolbar-container
        #editor
        input(type='submit' value='Добавить').form__btn