section.section.section1.js-section
    form(class="skills-form" action="/login" method="POST")
        .section__tittle-admin Страница «Обо мне»
        .skills-form__wrap
            each skillsCat, skillsCatName in skills
                .skills-form__col
                    .skills-form__tittle= skillsCatName
                    ul.skills-form__list
                        each value, scill in skillsCat
                            label.skills-form__value
                                .skills-form__item-box
                                    li.skills-form__item=  scill
                                input(type='text' name= scill maxlength="2" required value=value pattern="[0-9]{2}").skills-form__inp
                                .skills-form__percent
                                    span %
        input(type='submit' value='Сохранить').form__btn
